<div class="top-level-corporate-history"/>
  <div class="col-sm-12">
    <div class="newsContent">
      <div id="corporate-history-intro">
        <div class="top-level-about-us"/>
          <div class="newsContent">
            <div class="pages">
              <h2 class="titlePage">
                <%= @language == "id" ? @intro_post.title.capitalize().html_safe : @intro_post.title2.capitalize().html_safe %>
              </h2>

              <%= @language == "id" ? @intro_post.markdown_html.html_safe : @intro_post.markdown_html2.html_safe %>
            </div><!--end.isiNews-->
          </div><!--endNewsContent-->
        </div>
      </div>
      <div id="corporate-history-timeline">
        <div class="isiNews">
          <div class="historyList">
            <div class="logoHist"></div>
            <section id="cd-timeline" class="cd-container posts">
              <% @posts.each do |post| %>
                <div class="cd-timeline-block">
                  <div class="cd-timeline-img">
                  </div> <!-- cd-timeline-img -->

                  <div class="cd-timeline-content">
                    <h2 class="yearHis"><%= @language == "id" ? post.title.capitalize().html_safe : post.title2.capitalize().html_safe %></h2>
                    <span class="content"><%= @language == "id" ? post.markdown_html.html_safe : post.markdown_html2.html_safe %></span>
                  </div> <!-- cd-timeline-content -->
                </div>
              <% end %>
            </section>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>