<div class="row">
  <div class="col-md-10">
    <h2 class="titlePage"><%= @title.humanize %></h2>
  </div>
  <div class="col-md-10">
    <i class="fa fa-file-pdf-o" style="font-size:20px"></i>
  </div>
</div>
<%= @customMarkdown.html_safe %>
<% if @images.length >= 1 %>
  <div class="center wow">
    <br>
    <img src="assets/section-shadow.png" class="img-responsive" style="margin:0 auto;">
    <br>
  </div>
<% end %>
<div class="imageNews">          
  <div class="row">
    <% if @images.length == 1 %>
      <div class="col-md-12 images-12">
        <img class="img-responsive" src="<%= @images[0] %>">
      </div>
    <% elsif @images.length == 2 %>
      <div class="col-md-6 images-6">
        <img class="img-responsive" src="<%= @images[0] %>">
      </div>
      <div class="col-md-6 images-6">
        <img class="img-responsive" src="<%= @images[1] %>">
      </div>              
    <% elsif @images.length == 3 %>
      <div class="col-md-6 images-6">
        <img class="img-responsive" src="<%= @images[0] %>">
      </div>
      <div class="col-md-6 images-6">
        <img class="img-responsive" src="<%= @images[1] %>">
      </div>              
      <div class="col-md-12 images-12">
        <img class="img-responsive" src="<%= @images[2] %>">
      </div>              
    <% elsif @images.length == 4 %>
      <div class="col-md-6 images-6">
        <img class="img-responsive" src="<%= @images[0] %>">
      </div>
      <div class="col-md-6 images-6">
        <img class="img-responsive" src="<%= @images[1] %>">
      </div>              
      <div class="col-md-6 images-6">
        <img class="img-responsive" src="<%= @images[2] %>">
      </div>              
      <div class="col-md-6 images-6">
        <img class="img-responsive" src="<%= @images[3] %>">
      </div>              
    <% end %>
  </div>
</div>