html, body								{  height: 100%;  }                                                                                  
ul, ol, dl								{  list-style-type: none;  }                                                                         
.opacity {
  opacity: 0.8;
  filter: alpha(opacity=80);
  background: black url("/assets/fancybox_loading.gif") no-repeat center center
}

.form-group {
  small {
    color: red;
  }
}