form									{	
	&[data-type='new']	{
		.panel						{  }
	}
	&[data-type='edit']	{
		footer						{  border-top: 1px solid $white; @include single-box-shadow(darken($secondary-color, 5%), 0, -1px, 0); padding-top: 15px;  }
	}
	fieldset						{  border-width: 1px 0 0; position: relative; 
		legend						{  background-color: #DDD; position: absolute; top: -13px; margin-left: 10px; font-weight: 400; font-size: 16px; color: #888;  @include border-radius; padding: 3px 6px;  }
	}
	footer							{  margin-top: 10px; overflow: auto;  }
	.hint								{  font-size: 14px; color: #777; margin-top: 4px;  }
	.inline-list				{  margin: 0;  padding: 0px;
		li:first-child		{  margin-left: 0;  }
		button						{  margin-bottom: 0;  }
	}
}
