#header-region		{
		#logo					{  width: 30px; height: 30px; display: inline-block; position: relative; top: 5px;  }
		a							{  height: 45px;  }
}
#headerSection{

}
#headerSection{
    .top-bar {
      padding: 10px 0;
      background: #fff;
      border-bottom: solid 4px;
      border-bottom-color: #e2725b;
      line-height: 28px;
      overflow:hidden;
    }
    .title-area h1{
    	margin:0;
    }
    .navbarAdmin{
        float: left;
        margin:10px 0 0;
        clear:both;
    }
    .navbarAdmin:before, .navbarAdmin:after {
        display: table;
        content: " ";
    }
    .navbarAdmin li {
      margin-left: 10px;
      padding-bottom: 8px;
      float: left;
    }
    .navbarAdmin li a {
      padding: 5px 3px;
      margin: 0;
      border-radius: 3px;
      color: #333;
      line-height: 24px;
      display: inline-block;
    }
    .navbarAdmin li a:hover{
    	background-color: #df6420;
  		color: #fff;
    }
    .title-area{
    	float:left;
    }
    .logoutMenu{
    	float:right;
    	padding:55px 60px 0 0;
    }
    .btnLogout{
		background-color: #df6420;
		color: #fff;
		font-size: 14px;
		float: right;
		margin-left: 10px;
		border-radius: 5px;
		padding: 3px 20px;
	}
	.btnLogout:hover{
		    background-color: #003e6b;
	}
	  span.logStatus{
	  	font-size: 14px;
		color: #df6420;
		font-weight: 700;
		margin-left: 5px;
  	}

}
