.post {
  padding: 20px 60px;
  #post-list            {
    .post-member        {  border-bottom: 1px dashed #DDD; border-left: 3px solid $white; padding: 15px 0; overflow: auto; cursor: pointer; position: relative;
      &:hover           {  border-left: 3px solid $primary-color; background-color: lighten($primary-color, 45%);  
        .post-delete    {  display: block;  }
      }
      &:first-child     {  border-top: 1px dashed #DDD;  }
    }
    .stats-container    {  font-size: 14px; margin-top: 15px;  }
    .attribute-label    {  color: #999; font-variant: small-caps; text-align: right; font-weight: bold;  }
    blockquote ul       {  padding: 10px 0;  }
    .stats              {   
      .stat-type        {  color: #555; font-size: 17px; text-transform: uppercase;  }
    }
    .post-delete        {  position: absolute; top: 10px; right: 10px; display: none; font-weight: normal; font-size: 14px;
      button, i         {  color: #C00000;  }
      i                 {  font-size: 10px;  }
    }
  }

  #edit-post {
    .markdown { height: 300px; }
    .summary_markdown { height: 150px; }
  }
}
.post {
  a{
    color:#337ab7;
  }
  a:hover{
    color:#df6420;
  }
  #page-title h3{
    color: #003e6b;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: 700;
  }
  button#new-post{
    background-color: #df6420;
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
    border-radius: 5px;
    padding: 3px 20px;
    float:right;
  }
  button#new-post:hover{
    background-color: #003e6b;
  }
  a.btn_upload_image,a.btn_upload_document{
    background-color: #df6420;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    padding: 3px 20px;
  }
  a.btn_upload_image:hover,a.btn_upload_document:hover{
    background-color: #003e6b;
  }
  div#new-post{
    margin:10px 0 0 0;
    clear:both;
  }
  .form-control{
    background-color:#eee;
  }
}