/*------login-----*/
#login-layout {
  max-width: 450px;
  overflow: hidden;
  margin: 0 auto;
  background-color: #eaeaea;
  left: 50%;
  border-radius: 5px;
  -webkit-box-shadow: 1px -1px 19px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px -1px 19px -6px rgba(0,0,0,0.75);
  box-shadow: 1px -1px 19px -6px rgba(0,0,0,0.75);
  margin-top: 10%;
}
#login-layout{
	button[type=submit]{
		    background-color: #df6420;
			color: #fff;
			font-size: 18px;
			float: right;
	}
	button[type=submit]:hover{
		    background-color: #003e6b;
	}
}

.home {
  /*styles that apply across all apps in home*/
}