.home {
  .home-header {
    background-color: white;  
  }
}
/*
#headerSection{

}
#headerSection{
	.top-bar {
	  padding: 10px 0;
	  background: #fff;
	  border-bottom: solid 4px;
	  border-bottom-color: #e2725b;
	  line-height: 28px;
	}
	.navbarAdmin{
		float: left;
	}
	.navbarAdmin:before, .navbarAdmin:after {
		display: table;
		content: " ";
	}
	.navbarAdmin li {
	  margin-left: 15px;
	  padding-bottom: 8px;
	  float: left;
	}
	.navbarAdmin li a {
	  padding: 5px 3px;
	  margin: 0;
	  border-radius: 3px;
	  color: #333;
	  line-height: 24px;
	  display: inline-block;
	}

}*/