.pages {
  h4 {
    font-size: 30px;
    margin: 0 auto 20px auto;
    max-width: 230px;
    padding: 10px 10px 13px 10px;
    color: whitesmoke;
    background-color: #df6420;
  }
  h3 {
    color:#000;
    font-weight:bold;
    font-size: 26px;
    margin-top:0;
    padding-top: 20px;
  }  
  img {
    display: block;
    height: auto;
    max-width: 100%;
    margin:0 auto;
  }
  ul {
    list-style-type: disc;
  }
}
