<!DOCTYPE html>
<html>
<head>
  <title>Bakrie & Brothers</title>

  <style type="text/css">
      <%= Rails.application.assets.find_asset('pdf.css').to_s.html_safe %>
  </style>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<%= yield %>

</body>
</html>
